.back-button {
  --color: #333;
  margin: 0;
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  
  ion-icon {
    font-size: 18px;
  }
}

ion-content {
  --background: #F5F5F5;
}

h2 {
  color: #1a1a1a;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

p {
  color: #666;
  font-size: 16px;
}
