.custom-tab-bar {
  --background: white !important;
  border-top: 1px solid #E0E0E0;
  padding-bottom: env(safe-area-inset-bottom);
  height: 60px;

  border-radius: 18px;
  margin: 12px;

  ion-tab-button {
    --color: #999;
    --color-selected: #2196F3;
    --ripple-color: transparent;
    
    ion-icon {
      font-size: 24px;
      margin-bottom: 2px;
    }
    
    ion-label {
      font-size: 11px;
      font-weight: 500;
      margin-top: 2px;
    }
    
    &.tab-selected {
      ion-icon,
      ion-label {
        color: #2196F3;
      }
    }
  }
}
